GITHUB_TOKEN = "YOUR_GITHUB_TOKEN"

GITHUB_API_URL = "https://api.github.com"

DISCORD_TOKEN = "YOUR_DISCORD_TOKEN"

DISCORD_CLIENT_ID = "YOUR_DISCORD_CLIENT_ID"

DISCORD_SECRET = "YOUR_DISCORD_SECRET"

DISCORD_DEVSERVER = YOUR_DISCORD_DEVSERVER

DISCORD_SUPPORT_CHANNEL = YOUR_DISCORD_SUPPORT_CHANNEL

DISCORD_DEVELOPERS = "YOUR_DISCORD_DEVELOPERS, SEPARATED, BY, COMMAS"

DISCORD_DEBUG_FILE = "debug.log"

DISCORD_ERROR_LOG = "error.log"

DISCORD_API_URL = "https://discord.com/api/v10"

DISCORD_APP_ROOT = "/discord"

DISCORD_OAUTH2_URL = "YOUR_DISCORD_OAUTH2_URL"

REDIRECT_URI = "https://YOUR_DOMAIN/discord/redirect"

BACKEND_APP_ROOT = "/api"

NOTION_API_URL = "https://api.notion.com/v1"

NOTION_TOKEN = "YOUR_NOTION_TOKEN"

NOTION_API_VERSION = "2022-06-28"

MYSQL_ROOT_PASSWORD = "root is not a good password"

MYSQL_USER = "YOUR_MYSQL_USER"

MYSQL_PASSWORD = "YOUR_MYSQL_PASSWORD"

MYSQL_DATABASE = "YOUR_MYSQL_DATABASE"

DISCORD_PORT = 9090

BACKEND_PORT = 9091

MYSQL_TCP_PORT = 3306