GITHUB_TOKEN = "YOUR_GITHUB_TOKEN"

GITHUB_API_URL = "https://api.github.com"

DISCORD_TOKEN = "YOUR_DISCORD_TOKEN"

DISCORD_CLIENT_ID = "YOUR_DISCORD_CLIENT_ID"

DISCORD_SECRET = "YOUR_DISCORD_SECRET"

DISCORD_DEVSERVER = "YOUR_DISCORD_DEVSERVER"

DISCORD_DEVELOPERS = "YOUR_DISCORD_DEVELOPER_ID, SEPARATE WITH COMMA"

DISCORD_DEBUG_FILE = "debug.log"

DISCORD_ERROR_LOG = "error.log"

DISCORD_API_URL = "https://discord.com/api/v10"

DISCORD_PORT = 9090

REDIRECT_URI = "YOUR_REDIRECT_URI"

MY_BACKEND_PORT = 9091

MYSQL_ROOT_PASSWORD = "root"

MYSQL_USER = "YOUR_MYSQL_USER"

MYSQL_PASSWORD = "YOUR_MYSQL_PASSWORD"

MYSQL_DATABASE = "YOUR_MYSQL_DATABASE"

MYSQL_TCP_PORT = 9092